*{
    margin : 0 auto;
    padding: 0;
}
.top{
    width: 1000px;
    height: 500px;
    font-size: 0;
}
.top > .background {
    float: left;
    width: 750px;height: 500px;
    background-image: url('../img/chef_about.png');
}
.top > .right{
    width: 250px; height: 250px;
}
body{
    margin-top: 30px;
}
.box_all{
    width: 210px;
    height: 210px;
    display: inline-block;
    margin: 0px;
    padding:20px;
    color: black;
    background-color: aliceblue;
    font-size: 14px;
    overflow: hidden;
}

.floatingBox{
    background-color: rgba(27, 185, 80, 0.575);
    margin-top: -250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mainBox{

    width: 1000px;
    height: 500px;
    margin: 0 auto;
    font-size: 0;
}

.mainBox > .left{
    width: 750px;
    height: 500px;
    display: inline-block;
}

.mainBox > .right{
    width: 210px;
    height: 460px;
    padding: 20px;
    display: inline-block;
    margin: 0;
    background-color: violet;
}

.footer{
    width: 1000px;
    height: 40px;
    background-color:rgb(171, 24, 48);
    font-size: 14px;
    color: orange;
}
ul{
    display: inline-block;
    line-height: 40px;
}
li {
    margin: 0 10px 0 10px;
    color: palegreen;
    display: inline-block;
}